.nav ul{
  
    display: flex;
    justify-content: space-around;
    ul{list-style: none;}
  

}

.horizontal .vertical {
    list-style: none;
    position: absolute;
    display: none;
    width: 100px;
    flex-direction: column;
    background-color: $color-primario;
    & li :hover {background-color: bisque;}
}

.horizontal li:hover .vertical{display: block;
   
}

.caja{
    margin-left: 50px;
}
