section{
    background-color:rgb(109, 148, 221)
    
}

.tarjeta__texto{
    background-color: $color-secundario;
    
}

.productos{
    grid-area: productos;
   
}

.color-rojo{
    color: $color-secundario;
}



h2{
    font-size: 1,5rem;
    font-family: playfair display, serif;
    font-weight: 500;
  
}

.contenedor{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items:center;
    
    }